<div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">	
          <div class="card mb-3">
            <div class="card-body">
            <%= form_with scope: :stundet, url: stundets_path, local: true do |form| %>
            <div class="form-group col-md-3">
              <%= form.label :Nombre%><br>
              <%= form.text_field :name, :required => true, class: "form-control", :style=>"text-transform:uppercase"%>
            </div>
            <%= form.submit "Guardar", class: "btn btn-primary" %>
            <% end %>            
            </div>
          </div>  
        </div>
</div> 


